<footer>
  <h2>サイトマップ</h2>
  <div id="sitemap">
    <section>
      <h3>ページ構成一覧</h3>
      <ul id="sitemap-pages">
        <li><a href="/">インデックス</a></li>
        <li><a href="/sheave-project">Sheave</a></li>
        <li><a href="/articles">記事</a></li>
      </ul>
    </section>
    <section>
      <h3>リポジトリ一覧</h3>
      <ul id="sitemap-repositories">
        <li><a href="https://github.com/t-matsudate/sheave">Sheave</a></li>
        <li><a href="https://gitlab.com/t-matsudate/vox-verse">VOX Verse</a></li>
      </ul>
    </section>
    <section>
      <h3>記事カテゴリ一覧</h3>
      <ul id="sitemap-article-categories">
        <li><a href="/articles/rtmp-specification/">RTMP仕様書 in 令和</a></li>
        <li><a href="/articles/seeking-jobs-with-disability/">障碍と就職活動</a></li>
      </ul>
    </section>
  </div>
</footer>

<style lang="scss">
  footer {
    @include theme-colors;
    @include content-margin;

    min-height: var(--device-height);
    padding: $theme-h2-size;

    #sitemap {
      section {
        @include content-margin;

        ul {
          list-style: none;
          margin: 0;

          li {
            margin: 1rem 0;
          }
        }
      }

      @media (orientation: landscape) {
        display: grid;
        grid-template-columns: repeat(3, 24%);
        gap: 1rem;
      }

      @media (orientation: portrait) {
        display: grid;
        gap: 1rem;
      }
    }
  }
</style>
