---
const { title } = Astro.props;
---
<header>
  <button type="button" id="toggle-menu" class="fa-solid fa-bars closed" aria-label="メニューボタン" aria-description="サイドメニューは閉じられています。"></button>
  <h1><a href="/">Func::main</a></h1>
</header>

<style lang="scss">
  header {
    @include theme-colors;

    min-height: calc($theme-h2-size + 1rem);
    display: grid;
    grid-template-columns: calc($theme-h2-size + 1rem) 1fr;
    gap: $theme-h2-size;
    align-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    #toggle-menu {
      width: $theme-h2-size;
      height: $theme-h2-size;
      margin: auto;
      background-color: $theme-background-color;
      font-size: 1.5rem;
      color: $theme-anchor-color;
      border: 1px solid $theme-anchor-color;
      border-radius: 8px;

      &.closed {
        color: $theme-anchor-color;
        border-color: $theme-anchor-color;
      }

      &.opened {
        color: $theme-anchor-color-visited;
        border-color: $theme-anchor-color-visited;
      }
    }

    h1 {
      a {
        color: $theme-foreground-color;
        text-decoration: none;

        &:active, &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>

<script>
  const toggleMenuButton = document.getElementById('toggle-menu') as HTMLButtonElement;

  toggleMenuButton.addEventListener('click', () => {
    const menu = document.getElementById('menu') as HTMLElement;

    switch (menu.getAttribute('class')) {
      case 'closed':
        menu.setAttribute('class', 'opened');
        toggleMenuButton.setAttribute('class', 'fa-solid fa-bars opened');
        toggleMenuButton.ariaDescription = 'サイドメニューは開かれています。';
        break;
      case 'opened':
        menu.setAttribute('class', 'closed');
        toggleMenuButton.setAttribute('class', 'fa-solid fa-bars closed');
        toggleMenuButton.ariaDescription = 'サイドメニューは閉じられています。';
        break;
      default:
        break;
    }
  });
</script>
