---
const { rule } = Astro.props;

function findRuleIcon(rule: string): string | null {
  switch (rule) {
    case 'conditions':
      return 'fa-solid fa-circle-exclamation';
    case 'permissions':
      return 'fa-solid fa-circle-check';
    case 'limitations':
      return 'fa-solid fa-circle-xmark';
    default:
      return null;
  }
}
---

<li class={findRuleIcon(rule)}><slot /></li>
